<!DOCTYPE HTML>
<html>
<head>
{{template "head" .}}	
</head>
<body>
{{template "top"}}
{{template "menu"}}	
<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont"></i> <a href="/" class="maincolor">首页</a> 
        <span class="c-999 en">&gt;</span>
        <span class="c-666">我的桌面</span> 
        <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
	</nav>
    <div class="Hui-article">
        <article class="cl pd-20">
			<div> 选择日期：
				<input type="text" value="2019-01" onfocus="WdatePicker({dateFmt:'yyyy-MM',isShowToday:false,lang:'zh-cn'})" id="selMonth" class="input-text Wdate" style="width:120px;">				
				<button type="submit" class="btn btn-success radius" onclick="reChart()"><i class="Hui-iconfont">&#xe665;</i> 刷新</button>
			</div>
            <div class="mt-20" id="dataChart" style="width:100%;height:350px"></div>
			
			<div id="priceChart"></div>
        </article>
        <footer class="footer">
            <p></p>
        </footer>
    </div>
</section>
{{template "foot"}}
<script type="text/javascript" src="/static/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/static/lib/echarts/echarts.min.js"></script>
<script type="text/javascript" src="/static/lib/echarts/theme/purple.js"></script>
<script type="text/javascript" src="/static/lib/echarts/theme/walden.js"></script>
<script type="text/javascript">
//使用purple主题
var tgChart = echarts.init(document.getElementById('dataChart'), 'purple');
// 指定图表的配置项和数据
var option = {
	title : {
		text: '承德二手房',
		subtext: '热度'
	},
	tooltip : {
		trigger: 'axis'
	},
	legend: {
		data:['新增','销售']
	},
	toolbox: {
		show : true,
		feature : {
			mark : {show: true},
			dataView : {show: true, readOnly: false},
			magicType : {show: true, type: ['line', 'bar']},
			restore : {show: true},
			saveAsImage : {show: true}
		}
	},
	calculable : true,
	xAxis : [
		{
			type : 'category',
			data : []
		}
	],
	yAxis : [
		{
			type : 'value'
		}
	],
	series : [
		
	]
};

// 使用刚指定的配置项和数据显示图表。
tgChart.setOption(option);
$(function(){
	reChart();
	disPriceChart();
});

function reChart(){
	var mon = $("#selMonth").val();
	var url = "/Data/ChartJson";
	$.get(url,{"month":mon},function(chd){
		tgChart.setOption({
			xAxis:{data:chd.xAxis},
			series:chd.series
		});	
	},"json");	
}
</script>

<script>

function disPriceChart(){
	var url = "/Data/PriceChartJson";
	$.get(url,{},function(cob){
		drawChart(cob);	
	},"json");		
}

//动态画表
function drawChart(cob){
	for(var i in cob){
		var cda = cob[i];
		var did = 'pct'+i;
		$("#priceChart").append('<div class="mt-20" id="'+did+'" style="width:260px;height:260px;float:left;"></div>');
		var piopt= {
		    title : {
		        text: cda.name
		    },
		    tooltip : {
		        trigger: 'axis'
		    },
		    xAxis : [
		        {
		            type : 'category',
		            data : cda.time
		        }
		    ],
		    yAxis : [
		        {
		            type : 'value'
		        }
		    ],
		    series : [
		        {
		            name:'价格',
		            type:'bar',
					barWidth:20, //宽度
					itemStyle : { normal: {label : {show: true, position: 'top'}}}, //显示详细
		            data:cda.price,
		        }
		    ]
		};
		var piChart = echarts.init(document.getElementById(did), "walden");
		piChart.setOption(piopt);
	}
}
</script>
</body>
</html>